.released-date{
  font-size: 14px;
}
.remain-time{
  font-size: 14px;
}
.rating{
  font-weight: 600;
}
.card{
  border: none;
}
.movie-header h5{
  white-space: nowrap; 
  width: 210px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
